*{
	margin:			0;
	padding:		0;
}
body>div{
	background:		#eee;
	border:			#999 solid 1px;
	margin:			20px;
	overflow:		auto;
}
#left{
	float:			left;
	width:			200px;
	background:		#fff;
	margin:			20px;
}
#right{
	float:			right;
	background:		#fff;
	margin:			20px;
	width:			120px;
	padding-bottom:	20px;
}
#content{
	margin:			20px 160px 20px 240px;
	width:			auto;
	background:		#fff;
	padding:		20px;
}

img{
	vertical-align: bottom;
	background:		#eee;
	margin:			20px 20px 0 20px;
}

#left img{
	margin-bottom:	20px;
	vertical-align: middle;
}
/*特别小的尺寸*/
@media screen and (max-width:768px) {

	#content, #left, #right{
		float:		none;
		width:		auto;
		margin:		20px;
	}
}